
@{
    ViewBag.Title = "Test";
    var localPriority = ViewBag.Priority;
}

<h2>Show Priority</h2>
<div class="row">
    <div class="col-md-4">
        @localPriority.Name
        @localPriority.Level

    </div>
</div>
